{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}
 
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans '선택된 기사들을 교육이수처리합니다.' %}
    </div>
{% endblock %}
 
{% block content %}
 
<form action="" method="post">
    {% csrf_token %}
 
    {{ education_selection_form }}
 
    <p>{% trans '교육받은 기사 명단' %}:</p>
 
    <ul>
        {% for driver in drivers %}
            <li>{{ driver }}</li>
        {% endfor %}
    </ul>
 
    <input type="hidden" name="action" value="mark_as_educated" />
    <input type="submit" name="apply" value="{% trans '교육이수처리' %}" class="btn btn-info"/>
</form>
 
{% endblock %}
