{% extends "mail/base.html" %}

{% block content %}
<div id="content" style="padding-left: 55px; padding-right: 55px; float: left; width: 590px; background: #FFFFFF; margin: 0px;">
      <div id="gap-46px" style="height: 46px; margin: 0;"></div>
      <div class="subtitle" style="font-size: 23px; font-weight: bold; color: #5A5A5A; margin-top: 0px; display: block;">포인트 환급 신청 안내</div><div id="gap-30px" style="height: 30px; margin: 0;"></div>
      <div class="text" style="font-size: 16px; color: #282828; line-height: 1.8em; display: block; margin: 0;"><p style="margin: 0; padding: 0;">안녕하세요? 백기사입니다. <br>
        백기사를 이용해주시는 회원님께 진심으로 감사드립니다.<br>
        백기사 포인트를 환급받기 위해서는 아래 환급 신청서를 작성하신 후 <br>
        백기사로 제출해 주셔야 합니다.
      </p>
      <div style="text-align: center; padding: 30px;" align="center">
      


        <a href="{{ point_application_url }}" style="text-decoration:none; padding:10px 20px; width: 230px; height: 50px; color:#2585b2; border-radius:30px; border:2px solid #51c69e; color:#51c69e; background-color:#ffffff; font-size:20px; font-weight:bold; margin-top: 20px;" target="_blank">환급 신청서 작성</a>






        </div>


        <p style="font-weight: bold; margin: 0; padding: 10px;">*환급안내</p>
        <p style="font-size: 14px; margin: 0; padding: 0;">-환급일 : 매주 월요일에 일괄 지급됩니다. 월요일 당일 환급 신청 시 차주 월요일에 지급됩니다.</p>
        <p style="font-size: 14px; margin: 0; padding: 0;">-환급 가능 금액 : 총 보유 포인트가 30,000P 이상이면 현금과 1:1 비율로 환급 받으실 수 있습니다.</p>
        <p style="font-size: 14px; margin: 0; padding: 0;">  보유 포인트 전액을 환급 받으실 수 있으며, 보유 포인트 중 일부만 환급 받으실 수 없습니다.</p>

        <div id="gap-30px" style="height: 30px; margin: 0;"></div>
        <p style="font-weight: bold; margin: 0; padding: 10px;">*환급절차</p>

        <div style="text-align: center;" align="center">
          <img src="{{ cdn_url }}/IMG/point_return_procedure.png" style="margin: 0 0 0 0; padding: 0; border: 0;">
        </div>
        
      </div>
      <div id="gap-50px" style="height: 50px; margin: 0;"></div>
      
      </div>
      <!-- content --> 

{% endblock %}
