<!DOCTYPE html>
<html lang="en">
  <head>
    {# Meta #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
                                   minimum-scale=1, maximum-scale=1,
                                   user-scalable=0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>

    {# Favicon #}
    <link rel="shortcut icon" href="/favicon.ico">

    {# Font #}
    {% block header_font %}{% endblock %}

    {# CSS #}
    {% block header_css %}{% endblock %}

    {# Header JS #}
    {% block header_js %}{% endblock %}
  </head>
  <body>
    {# Body #}
    {% block body %}{% endblock %}

    {# Footer JS #}
    {% block footer_js %}{% endblock %}
  </body>
</html>
